@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


/* AWAL */
*{
   scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;	
	  min-height: 100vh;
    background: #222422;
    text-transform: uppercase;
    background: #1e1f21;
    color: #fff;
}

header {
    z-index: 99;
    width: 100%;
    background-color: #333;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}

.logo img {
    width: 100px;
}

.container {
	display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

#card-area {
    margin-top: 20px;
}
	
.content,.content2{
    letter-spacing: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.content h1{
    margin-top: 20vh;
    position: absolute;
    align-items: center;
    font-size: 230%;
}

.content h1:nth-child(1){
    color:transparent;
    -webkit-text-stroke: 1px #28f6c2; 
    
}

.content h1:nth-child(2){
    color: #28f6c2;
    animation: animate1 4s ease-in-out infinite;
}


.content2 h2 {
    margin-top: 30vh;
    position: absolute;
    align-items: center;
    font-size: 160%;
    color:transparent;
    -webkit-text-stroke: 1px #ffbf00; 
}

.content2 h2:nth-child(2) {
    color: #ffbf00;
    animation: animate1 4s ease-in-out infinite;
}


@keyframes animate1
{
    0%, 100%{
        clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
    }
    50%{
        clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
    }
}



#card-area{
    padding: 50px 0;
}
.box-area{
    display: flex;
    justify-content: space-evenly;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px; */
    margin-top: 250px;
}
.box {
    width: 300px;
	border-radius: 10px;
	position: relative;
  top: 30%;
	overflow: hidden;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
}
.box img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.overlay {
	width: 100%;
	height: 0;
	background: linear-gradient(transparent,#1c1c1c 58%);
	border-radius: 10px;
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	font-size: 14px;
	transition: height 0.5s;
}
.overlay h4 {
	font-weight: 500;
	margin-bottom: 5px;
	margin-top: 80%;
	font-family: "Brygada 1918", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
	letter-spacing: 2px;
}
.overlay a {
  width: 150px;
  height: 30px;
	margin-top: 10px;
	color: #262626;
	text-decoration: none;
	font-size: 15px;
	background: #fff;
	border-radius: 50px;
	text-align: center;
	padding: 5px 15px;
  letter-spacing: 2px;
}

.overlay a:hover{
  scale: 1.2;
}

.box:hover img{
    transform: scale(1.1);
}
.box:hover .overlay{
    height: 100%;
}

footer {
    position: relative;
	  bottom: 0;
    left: 0;
	  width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; 
    color: white;
    padding: 20px;
    margin-top: 50px;
}

.footer-left {
    display: flex;
    /* align-items: center; */
	  flex-direction: column;
}

.footer-left img {
	margin-left: 40px;
	width: 110px;
	height: auto;
}

.footer-left p {
  margin-top: 10px;
  margin-left: 30px;
  font-size: 10px;
  text-transform: none;
}

.contact{
  text-align: center;
}

.social-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 48px;
  height: 48px;
  text-decoration: none;
  border-radius: 100%;
  background: #fff;
  text-align: center;
}
.social-button::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  display: block;
  width: 0;
  height: 0;
  border-radius: 100%;
  transition: 0.3s;
}
.social-button:focus, .social-button:hover {
  color: #fff;
}
.social-button:focus::after, .social-button:hover::after {
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  margin-left: calc(-50% - 1px);
}
.social-button i,
.social-button svg {
  z-index: -90px;
  position: relative;
  z-index: 1;
  transition: 0.3s;
}
.social-button i {
  font-size: 25.6px;
}
.social-button svg {
  height: 40%;
  width: 40%;
}
.social-button--mail {
  color: #0072c6;
}
.social-button--mail::after {
  background: #0072c6;
}
.social-button--facebook {
  color: #3b5999;
}
.social-button--facebook::after {
  background: #3b5999;
}
.social-button--linkedin {
  color: #0077b5;
}
.social-button--linkedin::after {
  background: #0077b5;
}
.social-button--github {
  color: #6e5494;
}
.social-button--github::after {
  background: #6e5494;
}
.social-button--codepen {
  color: #212121;
}
.social-button--codepen::after {
  background: #212121;
}
.social-button--steam {
  color: #7da10e;
}
.social-button--steam::after {
  background: #7da10e;
}
.social-button--snapchat {
  color: #eec900;
}
.social-button--snapchat::after {
  background: #eec900;
}
.social-button--twitter {
  color: #55acee;
}
.social-button--twitter::after {
  background: #55acee;
}
.social-button--instagram {
  color: #e4405f;
}
.social-button--instagram::after {
  background: #e4405f;
}
.social-button--npmjs {
  color: #c12127;
}
.social-button--npmjs::after {
  background: #c12127;
}

.copyright{
  margin-top: 30px;
  text-align: center;
  font-size: smaller;
  text-transform: none;
}






/* WEB FUTSAL */

nav {
  position: fixed;
  height: 3rem;
  background-color: #222;
  width: 100%;
  /* border-radius: 5px; */
}

nav ul {
  margin: 0 200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

a {
  font-family: Poppins;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
}

.link {
  position: relative;
  list-style: none;
  padding: 4px 0;
}

.link::after,
.link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: all 0.6s ease-in-out;
}

.link::after {
  top: 0;
  right: 0;
  transform-origin: right;

}

.link::before {
  left: 0;
  bottom: 0;
  transform-origin: left;
}

.link:hover::after,
.link:hover::before {
  width: 100%;
}

.hero img{
  /* filter:; */
  width: 100%;
  height: 400px;
}

.hero{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 480px;
  background-color: rgb(118, 171, 174,0.5); 
  z-index: 1; 
}

.hero h2{
  color:white;
  filter:  drop-shadow(5px 10px 5px black);
  position:absolute;
  z-index: 2;

}

.latar{
  color: black;
  text-shadow: white 2px 2px;
  padding: 20px;
  margin-top: -10px;
  background-color: #76ABAE;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter:  drop-shadow(0px 5px 10px black);
}
.latar p{
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-align: center;
  width: 80%;
  text-transform: none;
  filter:  drop-shadow(0px 0px 1px white);
}

.overlay3{
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 470px;
  background-color: rgb(155,174,118,0.5); 
  z-index: 1; 
}

.badminton{
  width:40%;
}

.latar2{
  color: black;
  text-shadow: white 2px 2px;
  padding: 20px;
  margin-top: -10px;
  background-color: #92ae76;
  display: flex;
  flex-direction: column;
  align-items: center;
  filter:  drop-shadow(0px 5px 10px black);
}

.latar2 p{
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-align: center;
  width: 80%;
  text-transform: none;
  filter:  drop-shadow(0px 0px 3px white);
}

.kotakbesar{
  width: 100%;
  margin-top: 30px;
}


.kotak1{
  background-color: #35374B;
  margin:90px 40px;
  width:40%;
  float: left;
  border-radius: 15px;
  padding: 20px;
  text-transform: none;
}

.kotak1 h2{
  text-align: center;
  text-transform: uppercase;
}

.kotak1 li{
  margin-left:40px;
}

.kotak2{
  width:40%;
  float: right;

}



/* Ganti besar vidio */
.kotak2 img{
  border-radius:20px;
  width: 400px;
}

.event{
  margin-left: 30px;
  margin-top: 800px;
  clear: left;
}

.kiri img{
  width: 40%;
}

#gambar {
  border-radius: 30px;
  clear: right;
  transition: opacity 0.5s ease-in-out;
  width: 1000px;
}

.kiri button{
  margin:15px;
  display: inline;
  background: none;
  border: white 2px solid;
  color: white;
  width: 100px;
  height: 30px;
  border-radius: 20px;
}
.tombol{
  width: 1000px;
  text-align: center;
}

.kiri button:hover{
  scale: 1.2;
}


.c-checkbox {
  display: none;
  
}
.c-checkbox:checked + .c-formContainer .c-form {
  width: 20em;
}
.c-checkbox:checked + .c-formContainer .c-form__toggle {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.7);
}
.c-checkbox:checked + .c-formContainer .c-form__input,
.c-checkbox:checked + .c-formContainer .c-form__buttonLabel {
  transition: 0.2s 0.1s;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
.c-checkbox:not(:checked) + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle::before, .c-checkbox:checked + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle::before {
  content: "Thank You! 😊";
}
.c-checkbox:not(:checked) + .c-formContainer .c-form__input:required:valid ~ .c-form__toggle {
  pointer-events: none;
  cursor: default;
}

/* sini */
.c-formContainer,
.c-form,
.c-form__toggle {
  width: 20em;
  height: 3.25em;
}

.c-formContainer {
  position: relative;
  font-weight: 700;
}

.c-form,
.c-form__toggle {
  position: absolute;
  border-radius: 6.25em;
  background-color: #ffffff;
  transition: 0.2s;
}

.c-form {
  left: 50%;
  transform: translateX(-50%);
  padding: 0.625em;
  box-sizing: border-box;
  box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}

/* gabung */
.c-form__toggle {
  color: #00203FFF;
  top: 0;
  cursor: pointer;
  z-index: 1;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 10px;
}
.c-form__toggle::before {
  font-size: 1.75em;
  content: attr(data-title);
}

.c-form__input,
.c-form__button {
  font: inherit;
  border: 0;
  outline: 0;
  border-radius: 5em;
  box-sizing: border-box;
}

/* font */
.c-form__input,
.c-form__buttonLabel {
  font-size: 1em;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.7);
  transition: 0s;
}

.c-form__input {
  color: #89ABE3FF;
  height: 100%;
  width: 100%;
  padding: 0 0.714em;
}
.c-form__input::placeholder {
  color: currentColor;
}
.c-form__input:required:valid {
  color: #00203FFF;
}
.c-form__input:required:valid + .c-form__buttonLabel {
  color: #ffffff;
}
.c-form__input:required:valid + .c-form__buttonLabel::before {
  pointer-events: initial;
}

.c-form__buttonLabel {
  color: #89ABE3FF;
  height: 100%;
  width: auto;
}
.c-form__buttonLabel::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  cursor: pointer;
}

.c-form__button {
  color: inherit;
  padding: 0;
  height: 100%;
  width: 5em;
  background-color: #00203FFF;
}

.box2 {
  margin-top: 60px;
  background: white;
  padding: 16px 24px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01);
  display: flex;
  justify-content: center;
  width: 20%;
  border-radius: 10px;
}
.box2::after {
  position: absolute;
  content: "";
  top: 20px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.9) translateZ(0);
  filter: blur(15px);
  background: linear-gradient(
    to left,
    #ff5770,
    #e4428d,
    #c42da8,
    #9e16c3,
    #6501de,
    #9e16c3,
    #c42da8,
    #e4428d,
    #ff5770
  );
  background-size: 200% 200%;
  -webkit-animation: animateGlow 1.25s linear infinite;
  animation: animateGlow 1.25s linear infinite;
}

@-webkit-keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}  

/* .swiper{
  width: 50%;
  height: 563px;
  margin-top: 80px;
}
.swiper-slide img{
  width: 100%;
  height: 100%;
}

.swiper-slide {
  position: relative;
  overflow: hidden;
}

.slide-text{
  border-radius: 10%;
  background-color: rgba(0, 0, 0, 0.8); 
  width: 300px;
  transition: left 1s;
  /* position: absolute; */
  /* bottom: 50px; */
  /* left: -100% ;  */

/* } */
/* .swiper-slide-active .slide-text {
  left: 30px;
}

.slide-text h3{
  color: white;
} */ 
